# ScraperAPI Key (Free tier key from scraperapi.com)
SCRAPERAPI_KEY=your_scraperapi_key_here

# Target BookMyShow Movie URL
MOVIE_URL=https://in.bookmyshow.com/movies/chennai/spiderman-brand-new-day/buytickets/ET00447840/20260802

# Comma-separated list of theatre venue codes (e.g. PCAN,PVPZ,PABC)
VENUE_CODES=PCAN,PVPZ,PABC,

# Target date in YYYYMMDD format
REQUESTED_DATE=20260802


GREEN_API_ID=your_green_api_id
GREEN_API_TOKEN=your_green_api_token
WHATSAPP_GROUP_ID=your_whatsapp_group_id (the one ending in @g.us)